.change-header {
    font-family: 'PM', monospace;
    margin: 20px 0;
}

.change-password-form {
    margin: 25px auto;
}

#div_id_new_password1 div ul li {
    font-family: 'Hammersmith', sans-serif;
    font-size: 10pt;
}

.change-btn {
    margin: 0 auto;
}