.login-header {
    font-family: 'PM', monospace;
    margin: 20px 0;
}

.register {
    margin: 35px 0; 
}

div.container {
    margin-bottom: 50px;
}

#forgot-password {
    text-align: right;
}

#forgot-password a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

.register p, .register p a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}