* {
    padding: 0;
    margin: 0;
}

@font-face {
    src: url("../fonts/Oswald-Regular.ttf");
    font-family: 'Oswald';
}

@font-face {
    src: url("../fonts/Roboto-Medium.ttf");
    font-family: 'Roboto';
}

@font-face {
    src: url("../fonts/PermanentMarker-Regular.ttf");
    font-family: 'PM';
}

/*Navigation*/

.navbar-brand img{
    height: 60px;
}



.nav-link {
    font-family: 'Oswald', serif;
    font-size: 14pt; 
}

.flashes  li {
    list-style: none;
}

/*Page height*/

main {
    min-height: 300px;
}

@media (min-width: 768px) {
    main {
        min-height: 768px;
    }
}

@media (min-width: 992px) {
    main {
        min-height: 455px;
    }
}

@media (min-width: 1200px) {
    main {
        min-height: 600px;
    }
}

/*footer*/

footer {
    margin-top: 50px;
}

.footer-text {
    font-family: 'Oswald', serif;
    font-size: 10pt;
    color: rgba(0,0,0,.5);
    
}

.footer-text:hover {
    color: rgba(0,0,0,.7);
    text-decoration: none;
}

.social-links h5 {
    font-family: 'PM', monospace;
}

.social-links ul li {
    list-style: none;
    display: inline-block;
    margin: 20px 10px;
}

.social-links ul li a {
    text-decoration: none;
}

.social-links ul li a i {
    font-size: 17pt;
    color: #fff;
    border-radius: 50%;
}

.fa-facebook-f {
    padding: 10px 15px;
    background-color: #4267B2;
}

.fa-twitter {
    padding: 10px;
    background-color: #1DA1F2;
}

.fa-instagram {
    padding: 10px;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285AEB 90%)
    ;
}

