.support-header h1, h2, h3, h4 {
    font-family: 'PM', monospace;
}

.support-header p {
    font-family: 'Oswald', serif;
}

.contact-form, .contact-form-success {
    margin-top: 40px;
}

.contact-form-success {
    display: none;
}

.contact-form-success div i {
    margin: 35px 0;
}

.contact-form-success p {
    font-family: 'Roboto', sans-serif;
}

.fa-check-circle {
    font-size: 75pt;
    color: green;
}

.btn-outline-light {
    color: #000;
}

textarea {
    resize: none;
}