{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block meta %}
<meta name="description" content="Register to AutoSkunkWorks for free and start your new project today.">
{% endblock meta %}

{% block title %}
Register
{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock css %}

{% block content %}
<h1 class="register-header text-center">Register</h1>
<div class="offset-lg-4 col-lg-4 offset-md-3 col-md-6 col-sm-12 col-12">
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {{ register_form | as_bootstrap }}
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Register</button>
            <div class="loading"><img src="{% static 'images/loading.gif' %}" alt="Loading.."></div>
        </div>
    </form>

    <div class="form-group login">
        <p>If you already have an account you can sign in <a href="{% url 'login' %}">here.</a></p>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/login-register.js' %}"></script>
{% endblock js %}