{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block meta %}
<meta name="description" content="Change your password, update details or maybe, just maybe (we wouldn't want you to) deactivate your account.">
{% endblock meta %}

{% block title %}
Settings
{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
{% endblock css %}

{% block content %}

<h1 class="text-center mb-3">
    Settings
</h1>
<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link active" role="tab" aria-controls="profile" href="#profile" aria-selected="true">
                    Profile
                </a>
            </li>
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link" role="tab" aria-controls="password " href="#password" aria-selected="false">
                    Change Password
                </a>
            </li>
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link" role="tab" aria-controls="deactivate-account " href="#deactivate-account" aria-selected="false">
                    Deactivate Account
                </a>
            </li>
          </ul>

        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="profile">
                <h2 class="text-center">Profile</h2>
                <div class="m-4">
                    <form action="{% url 'update_profile' %}" class="offset-lg-3 col-lg-6 offset-md-3 col-md-6 col-sm-12 col-12" method="POST">
                        {% csrf_token %}
                        {{ profile_form|as_bootstrap}}
                        <div class="text-center m-3">
                            <button type="submit" class="btn btn-warning">Update</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="password">
                <h2 class="text-center">Change Password</h2>
                <div class="m-4">
                     <form class="offset-lg-3 col-lg-6 offset-md-3 col-md-6 col-sm-12 col-12" action="{% url 'change_password' %}" method="POST">
                        {% csrf_token %}
                        {{ change_password_form|as_bootstrap}}
                        <div class="text-center m-5">
                            <button type="submit" class="btn btn-warning">Update</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="deactivate-account">
                <h2 class="text-center">Deactivate your account</h2>
                <div class="m-4">
                     <div class="offset-lg-3 col-lg-6 offset-md-3 col-md-6 col-sm-12 col-12">
                        <div class="alert alert-danger text-center">This action is <strong>irreversible</strong> and cannot be undone. Only deactivate your account if you are sure.</div>
                        <p class="text-center">We're sorry to see you go :(<br>Please confirm your username in-order to deactivate your account.</p>
                        <div class="text-center">
                            <input type="text" id="delete-account-confirmation" class="form-control" placeholder="{{ request.user.username }}">
                            <a href="{% url 'delete_account' %}" class="btn btn-danger disabled my-3" id="delete_button">Deactivate Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div> 
{% endblock content %}

{% block js %}
    <script>
        $(document).ready(function(){
            const delete_button = $('#delete_button');
            const delete_input = $('#delete-account-confirmation');
            const delete_confirm = '{{ request.user.username }}';
            delete_input.on('change input', function(){
                if (delete_input.val() === delete_confirm) {
                    delete_button.removeClass('disabled');
                } else {
                    delete_button.addClass('disabled');
                }
            });
        });
    </script>
{% endblock js %}