{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ build.name }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/view.css' %}">
{% endblock css %}

{% block content %}
<div class="row">
    <div class="offset-8 col-4">
        <a href="{% url 'users_builds' build.author.username %}" class="badge badge-light p-2 float-right">Author: {{ build.author.username }}</a>
    </div>
</div>

<div class="build-header">
    <h1> {{ build.name }}</h1>
    <p class="text-muted">This build has been viewed {{ build.views }} times!</p>
</div>
<!--Make/Model/Trim/Year-->
<div class="card">
    <div class="card-header" id="headingTwo">
        <h6 class="collapsed mb-0" data-toggle="collapse" data-target="#build-details" aria-expanded="false"
            aria-controls="build-details">
            Car
        </h6>
    </div>
    <div id="build-details" class="collapse" aria-labelledby="headingTwo" data-parent="#build-details">
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">
                            Make
                        </th>
                        <th scope="col">
                            Model
                        </th>
                        <th scope="col">
                            Trim
                        </th>
                        <th scope="col">
                            Year
                        </th>
                        <th scope="col">
                            Price
                        </th>
                        <th scope="col" class="text-center">
                            Purchased
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!--Car-->
                    <tr>
                        <td scope="row">
                            {{ build.car.make }}
                        </td>
                        <td>
                            {{ build.car.model }}
                        </td>
                        <td>
                            {{ build.car.trim }}
                        </td>
                        <td>
                            {{ build.car.year }}
                        </td>
                        {% if not build.price_hidden or build.author.id == request.user.id %}
                        <td>
                            {{ build.car.price }}
                        </td>
                        <td>
                            <div class="text-center">
                                {% if build.car.purchased %} 
                                <i class="far fa-check-circle purchased"></i>
                                {% else %}
                                <i class="far fa-times-circle not-purchased"></i>
                                {% endif %}
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Exterior-->
<div class="card">
    <div class="card-header" id="headingTwo">
        <h6 class="collapsed mb-0" data-toggle="collapse" data-target="#exterior" aria-expanded="false"
            aria-controls="exterior">
            Exterior
        </h6>
    </div>
    <div id="exterior" class="collapse" aria-labelledby="headingTwo" data-parent="#exterior">
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">
                            Part
                        </th>
                        <th scope="col" id="price-table-header">
                            Price
                        </th>
                        <th scope="col" class="text-center">
                            Purchased
                        </th>
                        <th scope="col" class="text-center">
                            Mini Addition
                        </th>
                    </tr>
                </thead>
                <tbody id="exterior-table">
                    {% if build.exterior_parts.all %}
                    {% for item in build.exterior_parts.all %}
                    <tr>
                        <td>
                            <a href="{{ item.link }}"
                                target="_blank">{{ item.exterior_category.title }}</a>
                        </td>
                        {% if not build.price_hidden or build.author.id == request.user.id %}
                        <td class="object-price">
                            <p>{{ item.price }}</p>
                        </td>
                        <td>
                            <div class="text-center">
                                {% if item.purchased %} 
                                <i class="far fa-check-circle purchased"></i>
                                {% else %}
                                <i class="far fa-times-circle not-purchased"></i>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <input type="checkbox" class="mini-addition">
                            </div>
                        </td>
                        {% else %}
                        <td colspan="3" class="text-center no-prices">This user has chosen not to show prices.</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">
                            <p class="text-center my-3 no-parts-available">No Parts Available.</p>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Engine-->
<div class="card">
    <div class="card-header" id="headingTwo">
        <h6 class="collapsed mb-0" data-toggle="collapse" data-target="#engine" aria-expanded="false"
            aria-controls="engine">
            Engine
        </h6>
    </div>
    <div id="engine" class="collapse" aria-labelledby="headingTwo" data-parent="#engine">
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">
                            Part
                        </th>
                        <th scope="col" id="price-table-header">
                            Price
                        </th>
                        <th scope="col" class="text-center">
                            Purchased
                        </th>
                        <th scope="col" class="text-center">
                            Mini Addition
                        </th>
                    </tr>
                </thead>
                <tbody id="engine-table">
                    {% if build.engine_parts.all %}
                    {% for item in build.engine_parts.all %}
                    <tr>
                        <td>
                            <a href="{{ item.link }}"
                                target="_blank">{{ item.engine_category.title }}</a>
                        </td>
                        {% if not build.price_hidden or build.author.id == request.user.id %}
                        <td class="object-price">
                            <p>{{ item.price }}</p>
                        </td>
                        <td>
                            <div class="text-center">
                                {% if item.purchased %} 
                                <i class="far fa-check-circle purchased"></i>
                                {% else %}
                                <i class="far fa-times-circle not-purchased"></i>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <input type="checkbox" class="mini-addition">
                            </div>
                        </td>
                        {% else %}
                        <td colspan="3" class="text-center no-prices">This user has chosen not to show prices.</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">
                            <p class="text-center my-3 no-parts-available">No Parts Available.</p>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Running Gear-->
<div class="card">
    <div class="card-header" id="headingTwo">
        <h6 class="collapsed mb-0" data-toggle="collapse" data-target="#running-gear" aria-expanded="false"
            aria-controls="running-gear">
            Running Gear
        </h6>
    </div>
    <div id="running-gear" class="collapse" aria-labelledby="headingTwo" data-parent="#running-gear">
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">
                            Part
                        </th>
                        <th scope="col" id="price-table-header">
                            Price
                        </th>
                        <th scope="col" class="text-center">
                            Purchased
                        </th>
                        <th scope="col" class="text-center">
                            Mini Addition
                        </th>
                    </tr>
                </thead>
                <tbody id="running-table">
                    {% if build.running_gear_parts.all|length > 0 %}
                    {% for item in build.running_gear_parts.all %}
                    <tr>
                        <td>
                            <a href="{{ item.link }}"
                                target="_blank">{{ item.running_category.title }}</a>
                        </td>
                        {% if not build.price_hidden or build.author.id == request.user.id %}
                        <td class="object-price">
                            <p>{{ item.price }}</p>
                        </td>
                        <td>
                            <div class="text-center">
                                {% if item.purchased %} 
                                <i class="far fa-check-circle purchased"></i>
                                {% else %}
                                <i class="far fa-times-circle not-purchased"></i>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <input type="checkbox" class="mini-addition">
                            </div>
                        </td>
                        {% else %}
                        <td colspan="3" class="text-center no-prices">This user has chosen not to show prices.</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">
                            <p class="text-center my-3 no-parts-available">No Parts Available.</p>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Interior-->
<div class="card">
    <div class="card-header" id="headingTwo">
        <h6 class="collapsed mb-0" data-toggle="collapse" data-target="#interior" aria-expanded="false"
            aria-controls="interior">
            Interior
        </h6>
    </div>
    <div id="interior" class="collapse" aria-labelledby="headingTwo" data-parent="#interior">
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">
                            Part
                        </th>
                        <th scope="col" id="price-table-header">
                            Price
                        </th>
                        <th scope="col" class="text-center">
                            Purchased
                        </th>
                        <th scope="col" class="text-center">
                            Mini Addition
                        </th>
                    </tr>
                </thead>
                <tbody id="interior-table">
                    {% if build.interior_parts.all|length > 0 %}
                    {% for item in build.interior_parts.all %}
                    <tr>
                        <td>
                            <a href="{{ item.link }}"
                                target="_blank">{{ item.interior_category.title }}</a>
                        </td>
                        {% if not build.price_hidden or build.author.id == request.user.id %}
                        <td class="object-price">
                            <p>{{ item.price }}</p>
                        </td>
                        <td>
                            <div class="text-center">
                                {% if item.purchased %} 
                                <i class="far fa-check-circle purchased"></i>
                                {% else %}
                                <i class="far fa-times-circle not-purchased"></i>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <input type="checkbox" class="mini-addition">
                            </div>
                        </td>
                        {% else %}
                        <td colspan="3" class="text-center no-prices">This user has chosen not to show prices.</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">
                            <p class="text-center my-3 no-parts-available">No Parts Available.</p>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <!--Build Total-->
    <div class="col">
        Total Price: <strong>{{ build.total }}</strong>
    </div>

    <!--Mini Addition-->
    <div class="col selected-total">
        Selected Total: <strong><span id="mini-total"></span></strong>
    </div>

    <!--Voting-->
    <div class="col">
        <div class="voting-content">
            <div class="like">
                <div class="{% if user.is_authenticated %}like-button{% endif %} like-button-div like-button-hover">
                    <i class="far fa-thumbs-up"></i>
                </div>
                <span id="like-count">{{ build.like_count }}</span>
                <input type="hidden" id="user-liked" value="{{ user_liked }}">
            </div>
            <div class="dislike">
                <div class="{% if user.is_authenticated %}dislike-button{% endif %} dislike-button-div dislike-button-hover">
                    <i class="far fa-thumbs-down"></i>
                </div>
                <span id="dislike-count">{{ build.dislike_count }}</span>
                <input type="hidden" id="user-disliked" value="{{ user_disliked }}">
            </div>
        </div>
    </div>
</div>

<!--Submit-->
<div class="row">
    <div class="col-md-7 col-sm-8 col-9">
        <div class="float-right mt-5">
            <a class="btn btn-outline-dark" href="{% url 'builds' %}">Back to Builds</a>
            {% if user.is_authenticated and user.id == build.author.id %}
            <a class="btn btn-outline-secondary" href="{% url 'edit_build' build.build_id %}">Edit</a>
            {% endif %}
        </div>
    </div>
    <div class="col-md-5 col-sm-4 col-3">
        <div class="mt-5 float-right">
            <button class="btn btn-outline-dark d-inline-block mb-1" id="copy-to-clipboard-btn" data-text="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}{% url 'view_build' build.build_id %}">
                <div class="show" title="Copy link to Clipboard">
                    <i class="far fa-copy"></i>
                </div>
                <div class="hide">
                    <span>Copied to Clipboard!</span>
                </div>
            </button>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
    <script>
        $(document).ready(function(){
            const like_button = $('.like-button');
            const dislike_button = $('.dislike-button');

            like_button.on('click.like-button', function(){
                $.ajax({
                    url: "{% url 'like_build' build.id %}",
                    success: function(data){
                        console.log(data)
                        var like_count = data.like_count;
                        var dislike_count = data.dislike_count;
                        $('#like-count').html(like_count); 
                        $('#dislike-count').html(dislike_count); 
                        if (data.liked == false && data.disliked == false ) {
                            like_button.removeClass('liked');
                            $('.fa-thumbs-up').css('opacity', '1'); 
                            like_button.addClass("like-button-hover");
                            dislike_button.removeClass('disliked');
                            dislike_button.addClass("dislike-button-hover");
                            $('.fa-thumbs-down').css('opacity', '1');
                        }
                        if (data.disliked == false && data.liked) {
                            dislike_button.removeClass('disliked');
                            dislike_button.addClass("dislike-button-hover");
                            $('.fa-thumbs-down').css('opacity', '1');
                        }
                        if (data.liked && data.disliked == false) {
                            like_button.addClass('liked');
                            dislike_button.removeClass("like-button-hover");
                            $('.fa-thumbs-up').css('opacity', '1'); 
                            $('.fa-thumbs-down').css('opacity', '.5');
                        } 
                    }
                });
            });

            dislike_button.on('click.dislike-button', function(){
                $.ajax({
                    url: "{% url 'dislike_build' build.id %}",
                    type: 'POST',
                    success: function(data){
                        console.log(data)
                        var like_count = data.like_count;
                        var dislike_count = data.dislike_count;
                        $('#like-count').html(like_count); 
                        $('#dislike-count').html(dislike_count); 
                        if (data.liked == false && data.disliked == false ) {
                            like_button.removeClass('liked');
                            $('.fa-thumbs-up').css('opacity', '1'); 
                            like_button.addClass("like-button-hover");
                            dislike_button.removeClass('disliked');
                            dislike_button.addClass("dislike-button-hover");
                            $('.fa-thumbs-down').css('opacity', '1');
                        }
                        console.log(data)
                        if (data.liked && data.dislike == false) {
                            like_button.removeClass('liked');
                            like_button.addClass("like-button-hover");
                            $('.fa-thumbs-up').css('opacity', '1'); 
                        }
                        if (data.disliked && data.liked == false) {
                            like_button.removeClass('liked');
                            dislike_button.addClass('disliked');
                            dislike_button.removeClass("dislike-button-hover");
                            $('.fa-thumbs-down').css('opacity', '1');
                            $('.fa-thumbs-up').css('opacity', '.5'); 
                        } 
                        
                    }
                });
            });

            const user_liked = $('#user-liked').val();
            const user_disliked = $('#user-disliked').val();

            if (user_liked == "True") {
                like_button.addClass('liked');
                $('.fa-thumbs-down').css('opacity', '.5');
            }

            if (user_disliked == "True") {
                dislike_button.addClass('disliked');
                $('.fa-thumbs-up').css('opacity', '.5');
            }

            $('tbody').on('change', '.mini-addition', function () {
                var selectedTotal = 0;
                $('.mini-addition').each(function () {
                    current_box = $(this);
                    if (current_box.prop('checked') == true) {
                        selectedTotal += parseFloat(current_box.closest("tr").find(".object-price>p").html()) || 0;
                    }
                });
                $('#mini-total').html(selectedTotal.toFixed(2));
                if (selectedTotal == 0) {
                    $('.selected-total').hide();
                } else {
                   $('.selected-total').show(); 
                };
            });

            $('#copy-to-clipboard-btn').on('click', function(e){
                e.preventDefault();
                const share_button = $('.show');
                const copied_alert = $('.hide');
                share_button.hide();
                copied_alert.fadeIn(750);

                var copyText = $(this).attr('data-text');

                var textarea = document.createElement("textarea");
                textarea.textContent = copyText;
                textarea.style.position = "fixed";
                document.body.appendChild(textarea);
                textarea.select();
                document.execCommand("copy"); 

                document.body.removeChild(textarea);

                setTimeout(() => {
                    copied_alert.hide();
                    share_button.fadeIn(750);
                }, 3000);
            })
        });
    </script>
{% endblock js %}