{% extends 'base.html' %}
{% load static %}
{% block title %}
500 Internal
{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/error_page.css' %}">
{% endblock css %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4 text-center p-3">500 Internal Server Error</h1>
    <div class="p-5">
        <p class="lead">Looks like something went wrong under the bonnet, a report has been sent.</p>
        <hr class="my-4">
        <p>Can you smell burning? We'll get it up on the ramps soon.</p>
        <a class="btn btn-outline-primary my-5" href="{% url 'home' %}" role="button">Return to Homepage.</a>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://browser.sentry-cdn.com/5.21.3/bundle.min.js" integrity="sha384-fToiA54hoY6d6KAxhmTRMeYUFgOcig4WzZfZTJdJ0FWhC9yrnxA3dnqFvFVXMzFQ" crossorigin="anonymous"></script>
{% if sentry_event_id %}
<script>
  Sentry.init({ dsn: "https://ecf3ee026dd74cdd8943a4631fe8afba@o437759.ingest.sentry.io/5400710" });
  Sentry.showReportDialog({ eventId: "{{ sentry_event_id }}" });
</script>
{% endif %}
{% endblock js %}